<table class="table table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Estado</td>
            <td>Documentos</td>
            <td colspan="2">Ações</td>
        </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let pessoa of pessoas">
            <td>{{ pessoa.nomePessoa }}</td>
            <td>{{ pessoa.estado.nomeEstado }}</td>

            
            <td>
                <div *ngFor="let documento of pessoa.listaDocumento">
                    {{ documento.tipoDocumento }} : {{ documento.numeroDocumento }} <br>
                </div>
            </td>

            <td><a [routerLink]="['/editar', pessoa.idPessoa]" class="btn btn-primary">Editar</a></td>
            <td><a (click) = "remove(pessoa)" class="btn btn-danger">Remover</a>
        </tr>
    </tbody>
  </table>
